header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    width: 1440px;
    background-size: cover ;
    background-position: center;

}

.hero .nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.nav{
    padding-top: 50px;
    margin-bottom: 0;
}
.nav p{
    margin-top: 0;
    margin-left: 150px;
    font-size: 34px;
    font-weight: 800;
    color:  #4E47FF;
}
.nav button{
    height: 48px;
    width: 132px;
    margin-right: 150px;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    color: white;
    background-color: #4E47FF;

}
.hero .hero-msg{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-msg{
    margin-top: 158px;
   
}

.hero-msg p{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 0;
}
.hero-msg button{
    margin-top: 37px;
    margin-left: 633px;
    height: 48px;
    width: 174px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: #4E47FF;
}
.webflow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}
.msgs{
    margin-left: 141px;
}
.msgs h2{
    font-size: 42px;
    font-weight: bold;
}
.msgs p{
    font-size: 24px;
    color:rgba(45, 36, 50, 0.5);
}
.msgs button{
    height: 48px;
    width: 229px;
     font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: #4E47FF;
}
.webflow img{
    margin-right: 159px;
    border-radius: 48px;
}
.user{
    background-color: rgba(188, 71, 255, 0.1) ;
   border-radius: 24px;
   height: 306px;
   width: 1140px;
   margin-top: 116px;
    margin-left: 141px;
    margin-right: 159px;
}

.infos{
    text-align: center;
    margin: 0;
}
.infos h2{
    padding-top: 50px;
    font-size: 38px;
}
.num{
    display: flex;
    margin-left: 142px ;
    margin-right: 142px;
    margin-bottom: 0;
    justify-content: space-between;
}
.num h1{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 80px;
    color: #4E47FF;
}
.num p{
    margin-top: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.say h1{
    margin-top: 137px;
   text-align: center;
   font-size: 42px;
   font-weight: bold;
}
.star{
    width: 90px;
    height: 20px;
    background-image: url(../Assets/icon-star.png);
    background-repeat: repeat-x;
    margin-bottom: 0;
}
.cards{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 2px 2px 2px black; */
}
.cmnts{
    height: 243px;
    width: 322.67px;
    margin: 10px;
    padding: 20px;
    /* background-color: rgb(243, 241, 241); */
    border: 1px solid white;
    border-radius: 14px;
    box-shadow: 1px 1px 16px rgb(223, 221, 221);
}
.cmnts h5{
    font-size: 24px; 
    margin-top: 24px;
    margin-bottom: 0;
}
.cmnts p{
    font-size: 16px;
}
.person{
    display: flex;
}
.person img{
    height: 40px;
    width: 40px;
    margin-right: 6px;
    border-radius: 50% 50%;
}
.person p{
    margin-top: 0;
    margin-left: 6px;
    color: #757575;
}
.person p span{
    color: #b3b3b3;
}
.fu{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 137px;
}
.focus{
    /* background-color: aliceblue; */
    height: 696.77px;
    width: 1140px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 14px;
    border: 1px solid white;
   box-shadow: 1px 1px 16px rgb(223, 221, 221);
   margin-bottom: 92.8px;
}
.tab h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}
.tab p{
    font-size: 16px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.tab button{
    height: 48px;
    width: 195px;
    border-style: none;
    color: white;
    background-color: #4E47FF;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 20px ;
}
.tab img{
    border-radius: 48px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.cnct{
     
    text-align: left;
    margin-top: 0;
    padding: 0;
}
.cnct h1{
    font-size: 97px;
    font-weight: bold;
    margin-left: 0;
    padding-left: 0;
    margin-right: 70px;
}
.frm form{
    margin-left: 70px;
    padding: 10px;
}
.frm form label{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
input[type="email"],input[type="text"]
{
    height: 70px;
    width: 497px;
    border-style: none;
    box-shadow: 1px 1px 16px rgb(223, 221, 221);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
input::placeholder{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
textarea{
    height: 135px;
    width: 497px;
     border-style: none;
    box-shadow: 1px 1px 16px rgb(223, 221, 221);
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    resize: none;
}
::placeholder{
     font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.frm button{
    height: 62px;
    width: 497px;
    border-style: none;
    color: white;
    background-color: #4E47FF;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 20px ;
    margin-left: 80px;
}
.last-msg{
    align-items: center;
    text-align: center;
    padding: 130px;
    margin-top: 0;
}
.last-msg h1{
    font-size: 100px;
    margin-top: 0;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 0;
}
.last-msg p{
    font-size: 16px;
    margin-top: 0;
    color: #8987a1 ;
}
.last-nav a{
    padding: 20px;
    text-decoration: none;
    color: #8987a1;
    margin-bottom: 200px;
    margin-top: 20px;
}